---
language: python
python: "2.7"

# Use the new container infrastructure
sudo: false

# Install ansible
addons:
  apt:
    packages:
    - python-pip

install:
  # Install ansible
  - pip install ansible molecule apache-libcloud testinfra

  # Check ansible version
  - ansible --version

  # Create ansible.cfg with correct roles_path
  - printf '[defaults]\nroles_path=../' >ansible.cfg

  - curl -L https://files.pythonhosted.org/packages/21/8b/d14db0db815df247df1223a1111a448b8fc391c3d4aebcde6b8e731a9f7d/molecule-gce-0.1.tar.gz -o molecule-gce-0.1.tar.gz
  - gzip -d molecule-gce-0.1.tar.gz
  - tar -xf molecule-gce-0.1.tar
  - cd molecule-gce-0.1
  - python setup.py install
  - cd ..

  - cp secrets/credentials.json ~/
  - cp secrets/google_compute_engine ~/.ssh
  - chmod 0600 ~/.ssh/google_compute_engine
script:
  # Basic role syntax check
#  - ansible-playbook tests/test.yml -i tests/inventory --syntax-check
  - molecule create
  - molecule converge
  - molecule verify


after_script:
  - molecule destroy


notifications:
#  slack:
#    rooms:
#      secure: WsxSWHpkmFuURmX0DflteZXxpwQ/9Jb+uAgQjDROKS+fS/MhowR4foGidK5ipXBWSBsZ0poKVRZsDympPn+Xh56Dl42y8X6fkYhRMLF/ZR2YVO+A9KPjKuqR0xc8VencT7AM4M7KRe4ImQ/BkBqugG4wzLTiQaFbXTuHMYMDI6hJ96jT2Gsnz7ZNP8YQIyOOLLJXWxegBLy0SjWKoHWvNVzBfY578bZmt/hORZuT12bSRtidEIbuoH/I5Mgtl+Ess6UPrvvRa23sHUK5MvL2uyk1NizM9OhvLVqFa7L8UepExVA6XWVuuDLMc5wqaHzpg6kWTcouCaWtYNiO1h3Cob/RhwqyFch5JPXo/FIFkOExhE3oj3aKZLhZDGkk7qVgQ3/NskizQHh6xSztrYvU3ZPq3e+iF/OP4ndms7psc4c2jjrM2oE+tvz9rNOA76aM/Wz3mhMZAPBlFbqRHqRbxVoAJobStIgtx/wlQP5u89jimFIKY7+IEmsAiDsysqeNdAIaDxghaRq5U3n6MbysQFDDPMtCr9o0IDePB5/m4TpUtgYWuqG1ZJAO/8Cpt1UutevAowynqfgzE4+7wRzFwxB8zJ4eU4hf9yfCU0Rr8E5iBDgV3RyYwPLK4nJmi1hr7qw4pZWRS5P8kvoiwu3s3Ijuo/ofzZAxG6ORg47z9es=
  slack: devops-team-otus:DIalWgcueqctZb9TeXEmZ9az
